services:
  app:
    image: os-api
    env_file:
      - .env
    ports:
      - "${API_HOST_PORT:-8010}:8000" # set 8011 for staging, etc.
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    command:
      - /src/entrypoints/gunicorn.sh

  frontend:
    image: web
    env_file:
      - .env
    ports:
      - "${FRONTEND_HOST_PORT:-3010}:3000" # set 3011 for staging, etc.
    build:
      context: ./apps/web
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL:-http://localhost:8010}
        NEXT_PUBLIC_GOOGLE_SHEETS_SERVICE_ACCOUNT_EMAIL: ${NEXT_PUBLIC_GOOGLE_SHEETS_SERVICE_ACCOUNT_EMAIL:-}
        NEXT_PUBLIC_GOOGLE_CLIENT_ID: ${NEXT_PUBLIC_GOOGLE_CLIENT_ID:-}
    depends_on:
      - app
